<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form class="form-signin mt-5" method="post">
                <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
                <label for="inputEmail" class="sr-only">Account ID</label>
                <input type="text" id="inputEmail" class="form-control" placeholder="Account ID" required autofocus name="account_id">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" name="action" value="Login">Sign in</button>
                <a href="/registration" class="btn btn-lg btn-secondary btn-block">Registration</a>
                {% if error %}
                <p class="mt-3 text-danger">{{ error }}</p>
                {% endif %}
            </form>
        </div>
    </div>
</div>
</body>
</html>
